// LOADING PAGE

.loading-page {
  display: flex;
}

.loading-body {
  width: calc(100vw - 225px);
}

.loading-left-side {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: #4d394b;
}

.loading-left-side div {
  margin-bottom: 10px;
}

div.flex-items-loading {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

div.space-between-loading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

div.loading-list-block {
  margin-bottom: 60px;
}

.loading-banner {
  margin-bottom: 30px;
}

.second-longest-loading-div, .short-loading-div, .longest-loading-div, .loading-pill-div, .semi-long-loading-div, .small-oval-loading-div, .circle-loading-div, .short-loading-div, .long-loading-div, .medium-loading-div, .loading-pill-empty {
  height: 10px;
  border-radius: 25px;
}

.semi-long-loading-div, .small-oval-loading-div, .circle-loading-div, .short-loading-div, .long-loading-div, .medium-loading-div {
  background-color: #91808f;
}

.second-longest-loading-div, .loading-pill-div, .longest-loading-div {
  background-color: $hover-text;
}

.loading-body {
  padding: 20px;
}

.loading-body div {
  margin-bottom: 10px;
}

.loading-body-header {
  display: flex;
  justify-content: space-between;
}

.loading-pill-empty {
  background-color: transparent;
}

.loading-right-header {
  display: flex;
  justify-content: flex-end;
}

.loading-pill-right-full {
  display: flex;
  justify-content: flex-end;
}

.semi-long-loading-div {
  width: 150px;
}

.small-oval-loading-div {
  width: 20px;
}

.circle-loading-div {
  width: 15px;
  margin-right: 10px;
}

.short-loading-div {
  width: 100px;
}

.long-loading-div {
  width: 170px;
}

.medium-loading-div {
  width: 130px;
}

.second-longest-loading-div {
  width: 220px;
}

.loading-pill-div {
  width: 30px;
}

.longest-loading-div {
  width: 335px;
}

.loading-body .short-loading-div {
  background-color: $hover-text;
}

.loading-pill-right-full div {
  margin-left: 10px;
}

.loading-page section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.loading-page h1 {
  color: black;
  position: relative;
  bottom: 45px;
  font-size: 20px;
}
