$hover-item: #3E313C;
$column-bg: #4D394B;
$active-item: #4C9689;
$active-presence: #38978D;
$active-item-text: #FFFFFF;
$hover-text: #F9F9F9;

button {
  cursor: pointer
}

body {
  overflow: hidden;
}

div.channel-main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.channel-index-outer {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 220px;
  color: #AB9BA9;
  background-color: #4D394B;
}

aside.channel-list {
  border: solid 1px red;
  height: 100%;
}


// USER NAV
div.user-nav:hover {
  background: $hover-item;
  cursor: pointer;
}

div.user-nav {
  padding: 8px 0 8px 20px;
  display: flex;
  flex-direction: column;
}

div.nav-header p  {
  color: white;
  span {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-left: 5px;
  }

  i.fa-slack {
    font-size: 1.125rem;
  }

  i.fa-angle-down {
    color: #AB9BA9;
    padding-left: 8px;
  }

  i.fa-angle-down:hover {
    color: white;
  }

}

.username {

}

.user-status {
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #4C9689;
        display: inline-block;
}
.status {
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        border: 1px solid #AB9BA9;
        display: inline-block;
      }

// CHANNEL LIST

div.channel-list-outer {
  p.list-header {
    padding-left: 20px;
    display: flex;
  }

  p.list-header:hover {
    color: $active-item-text;
    cursor: pointer;
  }
}

i.add-channel {
  color: #AB9BA9;
  font-size: 16px;
  padding-left: 75px;
}

.add-channel:hover {
  font-size: 18px;
  color: $active-item-text;
  cursor: pointer;
}


.current {
  background-color: $active-item;
  color: $active-item-text;
}
.current:hover {
  background-color: $active-item;
  color: $active-item-text;
  cursor: pointer;
}

ul.channel-list {
  max-height: 250px;

  li {
    margin-right: 18px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    p {
      padding-left: 20px;
    }
  }

  li.non-current {
    font-weight: lighter;
  }

  li.non-current:hover {
    background: $hover-item;
    cursor: pointer;
  }

}

div.dm-list-outer {
  margin-top: 40px;

  p.dm-header {
    padding-left: 20px;
  }
}

i.add-dm {
  color: #AB9BA9;
  font-size: 16px;;
  padding-left: 46px;
}

i.add-dm:hover {
  color: $active-item-text;
  font-size: 18px;
  cursor: pointer;
}

ul.dm-list {
  max-height: 250px;

  li {
    margin-right: 18px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    p {
      padding-left: 20px;

      span.multi-dm {
        font-size: 12px;
        margin-right: 5px;
      }

      span.icon-outer {
      }

    }
  }

  li.non-current:hover {
    background: $hover-item;
    cursor: pointer;
  }
}

// CHANNEL SEARCH
div.channel-search-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 800px;

  section.channel-search {
    min-width: 675px;
    height: 100vh;
    padding-top: 150px;
    h1 {
      font-weight: 900;
      margin-bottom: 20px;
    }

    .channel-search-scroll {
      height: 500px;
      width: 700px;
      overflow-y: scroll;
      ::-webkit-scrollbar {
        width: 2em;
        height: 2em
      }

    ul {

      }

      li:hover {
        background: #edf7fd;
        border: 1px solid #d3ecfa;
        border-radius: 6px;

        div.member-count {
          display: none;
        }

        div.hover-message {
          display: flex;
          flex-direction: row;
          padding-top: 10px;
          padding-right: 50px;
          color: steelblue;
          p {
            padding-right: 5px;
          }
        }

      }

      li {
        border-top: 1px solid lightgray;
        padding: 12px 0;
        padding-right: 20px;
        min-height: 80px;
        padding-left: 10px;
        cursor: pointer;

        div.channel-search-header {
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          i.fa-user-o {
            padding-right: 5px;
            font-size: 14px;
          }
        }

        div.member-count {
          padding-right: 10px;

        }

        div.hover-message {
          display:none;
        }


        span.channel-search-info {
          font-style: italic;
          font-weight: lighter;
          font-size: 14px;
          color: #717274;
          line-height: 1.4;
        }

        p.channel-purpose {
          font-size: 14px;
          color: #717274;
          font-weight: lighter;
          line-height: 1.4;
        }
      }
    }
  }
}

// DIRECT MESSAGE FORM
div.dm-main {
  height: 100vh;
  display: flex;
  justify-content: center;
  min-width: 800px;

  section.dm-form {
    min-width: 675px;
    height: 100vh;
    padding-top: 150px;

    h1 {
      font-weight: 900;
    }

    div {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-top: 20px;

      p {
        border: 2px solid lightgray;
        border-radius: .25rem;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: flex-start;

        span {
          color: white;
          background: steelblue;
          padding: 6px;
          border-radius: .25rem;
          cursor: pointer;
          margin-right: 5px;

          i {
            padding-left: 3px;
          }
        }

      }

      button {
        width: 20%;
        text-align: center;
        margin-left: 10px;
        margin-top: 0;
        background: #2ab27b;
        color: #fff;
        font-family: Lato, sans-serif;
        line-height: 1.2rem;
        font-weight: 900;
        border-radius: .25rem;
        border: none;
        font-size: 20px;
        padding: 10px;
      }

      button:disabled {
        background: silver;
        color: gray;
        font-size: 20px;
        padding: 10px;
        cursor: default;
      }
    }

    ul {
      height: auto;
      // overflow: hidden;
      overflow-y: scroll;
      height: 500px;
      width: 700px;

      ::-webkit-scrollbar {
        width: 2em;
        height: 2em
      }

      li {
        border-top: 1px solid lightgray;
        padding: 12px 0;
        padding-right: 20px;
        min-height: 50px;
        padding-left: 10px;
        cursor: pointer;

        p {
          display: flex;
          justify-content: space-between;
        }

        .hover-message {
          display: none;
        }

      }

      li:hover {
        background: #edf7fd;
        border: 1px solid #d3ecfa;
        border-radius: 6px;

        .hover-message {
          display: inline-block;
          color: steelblue;
        }
      }
    }
  }
}






// USER Nav
section.sidebar-dropdown {
  padding: 20px;
  display: flex;
  justify-content: space-around;
  h2 {
    font-weight: bold;
    line-height: 1.4;
  }
  h3 {
    color: silver;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1.4;
  }

  div.signout {
    font-size: 14px;
    cursor: pointer;
    border-radius: .25rem;
    padding: 10px;
    span {
      font-weight: bold;
      padding-right: 5px;
    }
  }
  div.signout:hover {
    background: #F9F9F9;
    cursor: pointer;
  }
}


// MESSAGES
div.messages-main {
  width: 100%;
  min-width: 500px;
}

section.message-index {
  height: calc(100vh - 132px);
  overflow-y: scroll;
  overflow-x: hidden;
}

div.ch-info {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding: 1rem;
  min-width: 500px;
  max-width: 800px;

  h1 {
    color: #555459;
    font-weight: bolder;
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
  }
  p {
    font-weight: 400;
    span {
      color: red;
    }
    b {
      font-weight: bold;
    }
    italic {
      font-style: italic;
    }

  }
}

div.message-index-item {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  margin: 0 auto - .0625rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 1px 40px 2px 0;
}

div.message-index-item:hover {
  background: #F9F9F9;
  div.m-actions {
    display: flex;
    justify-content: space-around;
  }

  div.hide {
    display: none;
  }
}

div.avatar-outer {
  text-align: right;padding: 5px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 72px;
  padding-right: 10px;
}

img {
  width: 36px;
  height: 36px;
}

div.m-actions {
  position: absolute;
  top: -3px;
  right: 18px;
  width: 80px;
  border-radius: .25rem;
  border: 1px solid #9e9ea6;
  display: none;

  i {
    color: #9e9ea6;
    padding: 5px 10px 5px 10px;
  }

  i.fa-pencil-square-o {
    border-right: 1px solid #9e9ea6;
    padding-right: 13px;
  }

  i:hover {
    color: black;
    font-size: 17px;
    cursor: pointer;
  }
}


div.message-content {
  margin-left: 72px;
  margin-top: 1px;
  color: #2C2D30;
  font-size: 15px;
  line-height: 22px;
  user-select: text;
  word-wrap: break-word;
  min-width: 150px;

  span.m-author {
    font-weight: bold;
    line-height: 18px;
    margin-right: .25rem;
  }

  span.m-time {
    font-size: 12px;
    color: #9e9ea6;
    line-height: 18px;
    opacity: 1;
  }

  form {
    width: 100%;

    input[type="text"] {
      font-size: .9375rem;
      line-height: 1.2rem;
      color: #555459;
      width: 100%;
      font-family: Lato, sans-serif;
      margin: 6px 0 5px 0;
      box-sizing: border-box;
      border: 2px solid #ccc;
      padding: 9px 30px 10px 9px;
    }

    input[type="text"]:focus {
      outline: none;
    }

    input[type="submit"] {
      font-size: 14px;
      width: 30%;
      text-align: center;
      margin-top: 2px;
      padding: 5px;
    }

    input[type="submit"]:disabled {
      background: rgb(251, 251, 250);
      color: #555459;
      cursor: default;
      border: 1px solid #C7CACD;
    }


    button {
      background: rgb(251, 251, 250);
      font-family: Lato, sans-serif;
      line-height: 1.2rem;
      font-weight: 900;
      border-radius: .25rem;
      width: 25%;
      font-size: 14px;
      border: 1px solid #C7CACD;
      cursor: pointer;
      margin-right: 5px;
      text-align: center;
      color: #555459;
      padding: 5px;
    }

    button:focus {
      outline: none;
    }
  }
}

.hide {
  display: none;
}

//Message Input
footer.message-input-outer {
  min-height: 65px;
  max-height: 65px;

  form.m-form {
    border-radius: .375rem;
    min-height: 42px;
    min-height: 65px;
    max-height: 65px;
    padding-left: 22px;
    padding-right: 22px;
  }

  input[type="text"] {
    font-size: .9375rem;
    line-height: 1.2rem;
    color: #555459;
    width: 100%;
    font-family: Lato, sans-serif;
    margin: 0 0 .5rem;
    box-sizing: border-box;
    border: 2px solid #ccc;
    padding: 9px 30px 10px 9px;
    min-height: 35px;
  }

  input[type="text"]:focus {
    outline: none;
  }

  input::placeholder {
    color: #ccc;
    opacity: 1;
    font-weight: lighter;
  }

  input[type="submit"] {
    display: none;
  }
}


// CHANNEL NAV
header.messages-header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px lightgray;

  div.channel-info {
    padding: 8px 0 7px 20px;
    width: 100%;
    h2 {
      font-size: 1.125rem;
      font-weight: bold;
    }
    span {
      color: #717274;
      font-size: 12px;
      font-weight: normal;

    }
    span.member-count {
      border-right: solid 1px #717274;
      padding-right: 8px;
    }

    span.purpose {
      padding-left: 5px;
      padding-right: 8px;
      border-right: solid 1px #717274;
      font-size: 13px;
    }

    i.fa-user-o {
      font-size: 12px;
      padding-right: 5px;
    }

    i.fa-cog {
      font-size: 16px;
      padding-left: 8px;
    }

    i.fa-cog:hover {
      font-size: 18px;
      background: $hover-text;
      cursor: pointer;
    }
  }

  div.channel-util {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
  }
}

section.channel-nav-dropdown {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 20px;

  h2 {
    text-align: center;
  }

}
div.dropdown-action {
  display: flex;
  justify-content: center;
  border-radius: .25rem;
  padding: 5px;
  cursor: pointer;
}

div.dropdown-action:hover {
  background: #38978D;
  color: white;
  cursor: pointer;
}

div.channel-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.message-outer {
  height: 100%;
}

section.messages-container {
  display: flex;
  flex-direction: column;
}

// LOADING PAGE

.loading-page {
  display: flex;
}

.loading-body {
  width: calc(100vw - 225px);
}

.loading-left-side {
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background: #4d394b;
}

.loading-left-side div {
  margin-bottom: 10px;
}

div.flex-items-loading {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 30px;
}

div.space-between-loading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

div.loading-list-block {
  margin-bottom: 60px;
}

.loading-banner {
  margin-bottom: 30px;
}

.second-longest-loading-div, .short-loading-div, .longest-loading-div, .loading-pill-div, .semi-long-loading-div, .small-oval-loading-div, .circle-loading-div, .short-loading-div, .long-loading-div, .medium-loading-div, .loading-pill-empty {
  height: 10px;
  border-radius: 25px;
}

.semi-long-loading-div, .small-oval-loading-div, .circle-loading-div, .short-loading-div, .long-loading-div, .medium-loading-div {
  background-color: #91808f;
}

.second-longest-loading-div, .loading-pill-div, .longest-loading-div {
  background-color: $hover-text;
}

.loading-body {
  padding: 20px;
}

.loading-body div {
  margin-bottom: 10px;
}

.loading-body-header {
  display: flex;
  justify-content: space-between;
}

.loading-pill-empty {
  background-color: transparent;
}

.loading-right-header {
  display: flex;
  justify-content: flex-end;
}

.loading-pill-right-full {
  display: flex;
  justify-content: flex-end;
}

.semi-long-loading-div {
  width: 150px;
}

.small-oval-loading-div {
  width: 20px;
}

.circle-loading-div {
  width: 15px;
  margin-right: 10px;
}

.short-loading-div {
  width: 100px;
}

.long-loading-div {
  width: 170px;
}

.medium-loading-div {
  width: 130px;
}

.second-longest-loading-div {
  width: 220px;
}

.loading-pill-div {
  width: 30px;
}

.longest-loading-div {
  width: 335px;
}

.loading-body .short-loading-div {
  background-color: $hover-text;
}

.loading-pill-right-full div {
  margin-left: 10px;
}

.loading-page section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
}

.loading-page h1 {
  color: black;
  position: relative;
  bottom: 45px;
  font-size: 25px;
}
