$hover-item: #3E313C;
$column-bg: #4D394B;
$active-item: #4C9689;
$active-presence: #38978D;
$active-item-text: #FFFFFF;


div.channel-main {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.channel-index-outer {
  display: flex;
  flex-direction: column;
  min-width: 220px;
  max-width: 220px;
  color: #AB9BA9;
  background-color: #4D394B;
}

aside.channel-list {
  border: solid 1px red;
  height: 100%;
}


// USER NAV
div.user-nav:hover {
  background: $hover-item;
}

div.user-nav {
  padding: 8px 0 8px 20px;
  display: flex;
  flex-direction: column;
}

div.nav-header p  {
  color: white;
  span {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin-left: 5px;
  }

  i.fa-slack {
    font-size: 1.125rem;
  }
}

.username {

}

.status {
        margin-right: 4px;
        width: 8px;
        height: 8px;
        border-radius: 10px;
        background-color: #4C9689;
        display: inline-block;
      }

// CHANNEL LIST

div.channel-list-outer {
  p.list-header {
    padding-left: 20px;
    display: flex;
  }

  p.list-header:hover {
    color: $active-item-text;
  }
}

i.add-channel {
  color: #AB9BA9;
  font-size: 1rem;
  position: absolute;
  top: 70px;
  left: 180px;
}

.add-channel:hover {
  color: $active-item-text;
}


ul.channel-list {

  li {
    margin-right: 18px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    p {
      padding-left: 20px;
    }
  }

  li.current {
    background-color: $active-item;
    color: $active-item-text;
  }

  li.non-current {
    font-weight: lighter;
  }

  li.non-current:hover {
    background: $hover-item;
  }

}

div.dm-list-outer {
  margin-top: 40px;

  p.dm-header {
    padding-left: 20px;
  }
  p.dm-header:hover {
    color: $active-item-text;
  }
}

i.add-dm {
  color: #AB9BA9;
  font-size: 1rem;
  position: absolute;
  top: 180px;
  left: 180px;
}

i.add-dm:hover {
  color: $active-item-text;
}

ul.dm-list {
  li {
    margin-right: 18px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;

    p {
      padding-left: 20px;
    }
  }

  li:hover {
    background: $hover-item;
  }
}



// MESSAGES


header.messages-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 18px 0;
  border-bottom: solid 1px lightgray;
  border: solid 1px red;
}

div.channel-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

div.message-outer {
  height: 100%;
}

section.messages-container {
  display: flex;
  flex-direction: column;
}

footer.message-input-outer {
  min-height: 65px;
  max-height: 65px;
  border: solid 1px red;
}

//
// section.main-section {
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   height: 100vh;
// }
//
//
// section.message-outer {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: column;
//   width: 80%;
//   min-width: 550px;
//   padding-left: 20px;
//   border: solid 1px red;
//   padding: 0 5px 0 5px;
// }
//
// div.message-input-outer {
//   min-height: 64px;
//   max-height: 14%;
//   border: solid 1px red;
//
// }
//
// section.messages-container {
//   border: solid 1px red;
//   height: 86%;
// }
